.footer{
	&__title{
		border-bottom: 3px dashed orange;
		font-size: 1.75em;
		text-align: center;
		text-transform: capitalize;
		margin: .2em;
		padding-top: .7em;
		padding-bottom: .7em;

	}
	&__description{	
		text-align: justify;
		font-size: 1.50em;
		padding-top: 1em;
		@include desde(tablet){
			padding-top: 2.5em;
			padding-left: .5em;
		}

	}
	&__form{
		margin: .5em;
		padding-top: .7em;
	}
	&__input--text{
		text-transform: capitalize;
		display: block;
		padding: .3em;
		margin: .5em auto;
		width: 100%;
		@include desde(tablet){
			width: 80%;
		}
	}
	&__input--pass{
		text-transform: capitalize;
		display: block;
		padding: .3em;
		margin: .5em auto;
		width: 100%;
		@include desde(tablet){
			width: 80%;
		}
	}
	&__textarea{
		text-transform: capitalize;
		display: block;
		padding: .3em;
		margin: .5em auto;
		width: 100%;		resize: none;
		@include desde(tablet){
			width: 80%;
		}

	}
	&__button{
		text-transform: capitalize;
		background: #43484A;
		color: #fff;
		font-size: 1.50em;
		display: block;
		margin: .5em auto;
		width: 100%;
		padding: .1em;
		@include desde(tablet){
			width: 80%;
		}
	}
}