.header{
	&__menu{
		background: rgba(#000,.85);

		list-style: none;
		padding: 1em;
		height: 5em;
		text-align: center;
		
		z-index: 1000;
		position: fixed;
		left: 0;
		top: -1em;

		width: 100%;		
	}
	&__menu--item{
		display: inline-block;
		padding: .5em .5em;
	}
	&__menu--link{
		color: #fff;
		font-size: 1.50em;
		text-transform: capitalize;
		text-decoration: none;

	}
}