.profile{
	text-align: center;
	&__title{
		font-size: 1.75em;
		border-bottom: 3px dashed orange;
		text-align: center;
		text-transform: capitalize;
		padding-bottom: .7em;
		
	}
	&__description{
		text-align: justify;
		padding-bottom: 1em;
		font-size: 1.50em;
	}
	&__link{
		display: block;
		font-size: 1.25em;
		margin: 1em .5em;
   		padding:.2em .2em;
		text-transform: capitalize;
		text-decoration: none;
		@include desde(movil){
			vertical-align: top;
			display: inline-block;
			height: 2em;
			margin-right: .4em;
			margin-left: .4em;
			overflow: hidden;
			@include cuadricula(profile__link,3,1%){

			}
		}
	}

			
	&__link--twitter{
		background: red;
		@include desde(movil){
			width: 28%;
		} 
	}
	&__link--facebook{
		background: blue;
		color: #fff;
		@include desde(movil){
			width: 28%;
		} 

		
	}
	&__link--github{
		background: green;
		color: #fff;
		@include desde(movil){
			width: 28%;
		} 
		
	}
}
