.work{


	&__title{
		font-size: 1.75em;
		text-align: center;
		text-transform: capitalize;
		border-bottom: 2px dashed orange;
		width: 100%;
		margin: 0;
		padding-bottom: .4em;
	}
	&__image{
		margin: 1em auto;
		box-shadow: 1px 1px 5px #000;


	}
	&__description{
		font-size: 1.50em;
		text-align: center;

	}
}