doctype html
html(lang="es")
	head 
		title Juan Lizcano
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", href="tema/css/estilos.css")
		script(src="http://code.jquery.com/jquery-1.11.2.min.js")
		script(src="tema/js/scripts.js")
		body
			header.header
				.grupo
					.caja
						ul.header__menu							
							li.header__menu--item
								a.header__menu--link(href="#") me
							li.header__menu--item
								a.header__menu--link(href="#")	profile
							li.header__menu--item
								a.header__menu--link(href="#") work
							li.header__menu--item
								a.header__menu--link(href="#") contact

						img.header__image(src="http://lorempixel.com/600/600", alt="avatar")
						a.header__link(href="#") danielSpiritual
						p.header__name juan Lizcano
			
			section.profile
				.grupo
					.caja
						h2.profile__title profile
					.caja
						p.profile__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, labore tempora magni excepturi repudiandae?

					.caja
						a.profile__link.profile__link--twitter(href="#") danielSpiritual
						a.profile__link.profile__link--facebook(href="#") juan Lizcano
						a.profile__link.profile__link--github(href="#") d-Daniels

			section.work
				.grupo
					.caja
						h2.work__title work

					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.
					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.

					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.
					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.
					
					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.

					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.

					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.

					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.

					.caja.tablet-1-3
						img.work__image(src="http://lorempixel.com/500/500", alt="word")
						p.work__description    Lorem ipsum dolor sit amet.
	
			footer.footer
				.grupo.demostrar
					.caja
						h2.footer__title contacto

					.caja
						p.footer__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In fugiat, similique nemo tenetur accusamus, consectetur?
					
					.caja
						form.footer__form(action="")
						input.footer__input--text(type="text" placeholder="nombre" )
						input.footer__input--pass(type="email" placeholder="email" )
						textarea.footer__textarea(placeholder="motivo" )
						button.footer__button(type="submit") contactarme



 

			//-  EJEMPLO 5

			//- .grupo
			//- 	.caja
			//- 		.imagenes
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")
			//- 			.imagenes__item
			//- 				img(src="http://lorempixel.com/600/400 ", alt="img")



			//- //- EJEMPLO 4
			//- //- .grupo.demostrar
			//- //- 	.caja.movil-100.tablet-50.web-75
			//- //- 		p caja 1
			//- //- 	.caja.movil-100.tablet-50.web-25
			//- //- 		p caja 2


			//- EJEMPLO 3
			//- .grupo.demostrar
			//- 	.caja
			//- 		p titulo 1 total
			//- 	.caja.movil-25
			//- 		p caja 25%
			//- 	.caja.movil-25
			//- 		p caja 25%
			//- 	.caja.movil-50
			//- 		p caja 50%
			//- 	.caja.total
			//- 		p titulo 2 total
			//- 	.caja.movil-1-3
			//- 		p Caja 1-3
			//- 	.caja.movil-1-3
			//- 		p caja 1-3
			//- 	.caja.movil-1-3
			//- 		p caja 1-3




			//- EJEMPLO 2
			//- .grupo.demostrar
			//- 	.caja.movil-25
			//- 		p 25%

			//- 	.caja.movil-25 
			//- 		p 25%
			//- 	.caja.movil-50
			//- 		p 50%


	//- EJEMPLO 1
	//- body.desarrollo
	//- 	.grupo
	//- 		.caja.total
	//- 			p.uno Esta es una caja al 100% de ancho

	//- 		.caja.movil-50
	//- 			p.dos Esta es otra caja

	//- 		.caja.movil-50 
	//- 			p.tres Y esta es otra caja

	//- 		.caja.total
	//- 			p.cuatro Y todas estas cajas están dentro de un grupo

	//- 		.caja.web-10.tablet-80.movil-20
	//- 			p.cinco El grupo

	//- 		.caja.web-60.tablet-10.movil-20
	//- 			p.seis Esta indicando

	//- 		.caja.web-30.tablet-10.movil-60

	//- 			p con un borde rojo
